# My files
notes.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
src/frontend/node_modules/
dist-electron/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore everything inside frontend build and config folders
src/frontend/dist/
src/frontend/build/
src/frontend/.env
src/frontend/.env.*
src/frontend/.cache/
src/frontend/coverage/
src/frontend/*.log
